
.vs/
.idea/
build/
bin-int/
bin/
*.sln
.gitattributes
*.vcxproj
*.vcxproj.user
Sandbox/assets/shaders/simple_f.glsl
Sandbox/assets/shaders/simple_texture_f.glsl
Sandbox/assets/shaders/simple_texture_v.glsl
Sandbox/assets/shaders/simple_v.glsl
Sandbox/imgui.ini
*.stackdump
